body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.content {
  margin: auto;
  height: 100%;
  width: 80%;
  background-color: lightgray;
}

.header {
  display: flex;
  margin: auto;
  position: fixed;
  background-color: #20b2aa;
  height: 70px;
  width: 80%;
}

#logo {
  margin: auto 10px;
  height: 60px;
  width: 60px;
}
h3 {
  margin: auto 20px auto 10px;
  width: 150px;
}
.search {
  background-color: white;
  display: flex;
  margin: auto 0;
  height: 40px;
  width: 60%;
}
#search-icon {
  margin: auto 10px auto 10px;
  height: 30px;
  width: 30px;
}
input {
  border: none;
  outline: none;
  height: 30px;
  margin: auto 0;
  width: 90%;
}

.search-options-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 70px;
  font-size: 1.1em;
  align-items: center;
  height: 50px;
  width: 80%;
  background-color: rgb(225, 229, 235);
}
.search-bar-text {
  margin: auto 10px;
}
.search-options-bar select {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  height: 25px;
}
.search-info {
  font-size: 0.8em;
  margin-right: 20px;
}

.post-list {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  min-height: 60px;
  border-bottom: solid gray 1px;
}
.title {
  margin-bottom: 3px;
}

.post-info {
  font-size: 0.75em;
  flex-wrap: nowrap;
}
a {
  text-decoration: none;
  color: olive;
}
a:hover {
  border-bottom: 1px gray dotted;
}

.pagination-content {
  display: flex;
  height: 60px;
  margin: auto;
}
.buttons {
  display: flex;
  margin: auto;
  width: 40%;
}
.page {
  height: 35px;
  width: 35px;
  color: rgb(105, 105, 105);
  margin: auto;
  font-weight: 800;
  font-size: 0.95em;
  outline: none;
  box-shadow: none;
  background: none;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  border: #19837e solid 2px;
  color: #19837e;
}
.disabled {
  color: darkgray;
  cursor: auto;
}

@media (max-width: 1200px) {
  .content,
  .header,
  .search-options-bar {
    width: 100%;
  }
}
/* @media (max-width: 850px) {
  .post-content {
    height: 80px;
  }
} */
